@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://rsms.me/inter/inter.css');

article {
  @apply mx-auto max-w-screen-md text-gray-600 leading-snug;
}

article h1 {
 @apply text-green-900 text-4xl font-bold mt-8 text-center font-display;
}

article h2 {
 @apply text-gray-700 text-2xl font-bold mb-4 text-center font-display;
}

header {
  @apply mb-4;
}

article h3 {
  @apply text-2xl font-display font-bold mt-8 mb-4 text-gray-800;
}

article p {
  margin-bottom: 1rem;
}

article a {
  @apply text-green-700 hover:underline;
}

article img {
  @apply float-right clear-both w-48 ml-8 mb-8;
}

article figure {
  @apply flex flex-row my-8 justify-around;
}

article figure img {
  object-fit: scale-down;
  margin: 0;
}

article.biographies img {
  max-width: 6rem;
}

article blockquote {
  @apply my-8 mx-auto max-w-max;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #FDFFFE;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
